<!DOCTYPE html>
<html lang="{{ site.lang }}" class="no-js">
    <head>
        {% include "partials/head-meta.njk" %}

        {% set css %}{% include "css/styles.css" %}{% endset %}
        <style>{{ css | cssmin | safe }}</style>

        <script>document.documentElement.classList.remove('no-js');</script>

        {{ site.codeinjection_head | safe if site.codeinjection_head }}
        {{ codeinjection_head | safe if codeinjection_head }}
    </head>
    <body>
        {% include "partials/icons.njk" %}
        <div class="viewport">

            <div class="viewport-top">
                {% include "partials/header.njk" %}

                <main class="site-main">
                    <div class="container">
                        {% block content %}
                        {% endblock content %}
                    </div>
                </main>
            </div>

            <div class="viewport-bottom">
                {% include "partials/footer.njk" %}
            </div>

            {{ site.codeinjection_foot | safe if site.codeinjection_foot }}
            {{ codeinjection_foot | safe if codeinjection_foot }}
        </div>
    </body>
</html>
