{% extends 'layouts/default.njk' %}

{% set title = doc.title %}
{% set codeinjection_head = doc.codeinjection_head %}
{% set codeinjection_foot = doc.codeinjection_foot %}

{% block content %}
  {% if doc.feature_image %}
    <img class="feature-image" src="{{ doc.feature_image }}" alt="Feature image">
  {% endif %}

  <div class="body-content">
    <h1>{{ title }}</h1>
    <small class="meta">
      <span class="meta__byline">by <a href="{{ doc.primary_author.url }}">{{ doc.primary_author.name }}</a></span>
      <span class="meta__tags">{% if doc.tags %}Tagged: {% for tag in doc.tags %}<a href="{{ tag.url }}">{{ tag.name }}</a> {% endfor %}{% endif %}</span>
      <time class="meta__timestamp">Posted at {{ doc.published_at.toUTCString() }}</time>
    </small>
    {{ content | safe }}
  </div>
{% endblock %}
