{% extends 'layouts/default.njk' %}

{% set title = post.title %}
{% set codeinjection_head = post.codeinjection_head %}
{% set codeinjection_foot = post.codeinjection_foot %}

{% block content %}
    <article class="content">
        {% if post.feature_image %}
            <figure class="post-feature-image">
                <img src="{{ post.feature_image }}" alt="{{ title }}">
            </figure>
        {% endif %}
        <section class="post-full-content">
            <h1 class="content-title">{{ title }}</h1>
            <section class="content-body load-external-scripts">
                {{ content | safe }}
            </section>
        </section>
    </article>
{% endblock %}
