@import 'sanitize.css/sanitize';
@import 'sanitize.css/typography';
@import 'sanitize.css/page';

body {
  color: #3c484e;
}

a {
  color: #000;
  text-decoration-color: #3eb0ef;
}

hr {
  border-bottom: 0;
}
