@import 'sanitize.css/sanitize';
@import 'sanitize.css/typography';

body {
  color: #3c484e;
}

a {
  color: #000;
  text-decoration-color: #3eb0ef;
}

hr {
  border-bottom: 0;
}

.feature {
  width: 100%;
  height: 30vh;
  overflow: hidden;
  object-fit: cover;
}

.logo {
  max-width: 6rem;
  height: auto;
  position: absolute;
  top: 1rem;
  right: 1rem;
}

main {
  padding: 1em calc(50% - 16em);
}

img {
  max-width: 100%;
  height: auto;
}
