---
permalink: 404.html
---

{% extends 'layouts/default.njk' %}

{% set codeinjection_head = doc.codeinjection_head %}
{% set codeinjection_foot = doc.codeinjection_foot %}

{% set title = "Error 404" %}

{% block content %}
    <article class="content" style="text-align:center">
        <h1 class="content-title">Error 404</h1>
        <section class="content-body">Page not found, <a href="/">return home</a> to start over</section>
    </article>
{% endblock %}
