---
pagination:
  data: collections.posts
  size: 5
  alias: posts
---

{% extends 'layouts/default.njk' %}

{% set title = "Posts" %}

{% block content %}
  <h1>Posts</h1>
  <ul>
    {% for post in posts %}
      <li>
         <a href="{{ post.url }}">{{ post.title }}</a>
         {% if post.featured %}<mark>Featured</mark>{% endif %}
         {% if post.custom_excerpt %}<p>{{ post.custom_excerpt }}</p>{% endif %}
      </li>
    {% endfor %}
  </ul>

  {% if page.permalink != pagination.previousPageHref %}
    <a href="{{ pagination.previousPageHref }}">Prev page</a>
  {% else %}
    <del>Prev page</del>
  {% endif %}
  {% if page.permalink != pagination.nextPageHref %}
    <a href="{{ pagination.nextPageHref }}">Next page</a>
  {% else %}
    <del>Next page</del>
  {% endif %}

{% endblock%}
