---
permalink: feed.xml
eleventyExcludeFromCollections: true
metadata:
  author:
    email: myemailaddress@example.com
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
  <title>{{ site.title }}</title>
  <subtitle>{{ site.description }}</subtitle>
  <link href="{{ site.url + page.url }}" rel="self"/>
  <link href="{{ site.url }}"/>
  <updated>{{ collections.posts | rssLastUpdatedDate }}</updated>
  <id>{{ site.url }}</id>
  <author>
    <name>{{ collections.authors[0].name }}</name>
  </author>
  {%- for post in collections.posts %}
  <entry>
    <title>{{ post.title }}</title>
    <link href="{{ site.url + post.url }}"/>
    <updated>{{ post.date | rssDate }}</updated>
    <id>{{ absolutePostUrl }}</id>
    <content type="html">{{ post.templateContent | htmlToAbsoluteUrls(absolutePostUrl) }}</content>
  </entry>
  {%- endfor %}
</feed>
