---
permalink: feed.xml
eleventyExcludeFromCollections: true
date: Last Modified
metadata:
  author:
    email: myemailaddress@example.com
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
  <title>{{ site.title }}</title>
  <subtitle>{{ site.description }}</subtitle>
  <link href="{{ site.url + page.url }}" rel="self"/>
  <link href="{{ site.url }}"/>
  {%- for post in collections.posts.slice(0,1) | sort(true, false, 'updated_at') %}
  <updated>{{ post.updated_at }}</updated>
  {%- endfor %}
  <id>{{ site.url }}/</id>
  <author>
    <name>{{ collections.authors[0].name }}</name>
  </author>
  {%- for post in collections.posts %}
  <entry>
    <title>{{ post.title }}</title>
    <link href="{{ site.url + post.url }}"/>
    <updated>{{ post.updated_at }}</updated>
    <id>{{ site.url + post.url }}</id>
    <content type="html">{{ post.html | htmlToAbsoluteUrls(site.url + page.url) }}</content>
  </entry>
  {%- endfor %}
</feed>
