---
pagination:
  data: collections.posts
  size: 7
  alias: posts
---

{% extends 'layouts/default.njk' %}
{% from "partials/card.njk" import card %}

{% set title = "Posts" %}

{% block header %}
    {% include "partials/header-home.njk" %}
{% endblock %}

{% block content %}
    <section class="post-feed">
        {% for post in posts %}
            {{ card(post, loop.index0) }}
        {% endfor %}
    </section>

    {% include "partials/pagination.njk" %}
{% endblock %}

{% block scripts %}
    {% include "partials/scripts-scroll.njk" %}
{% endblock %}
