<header class="author-header">
    <div class="author-header-content">
        <h1>{{ author.name }}</h1>
        <p>{{ content | safe }}</p>
        {% if author.facebook and author.twitter and author.website %}
            <div class="author-header-meta">
                {% if author.facebook %}
                    <a class="author-header-item" href="https://facebook.com/{{ author.facebook }}" target="_blank" rel="noopener noreferrer">Facebook</a>
                {% endif %}
                {% if author.twitter %}
                    <a class="author-header-item" href="https://twitter.com/{{ author.twitter | replace("@", "") }}" target="_blank" rel="noopener noreferrer">Twitter</a>
                {% endif %}
                {% if author.website %}
                    <a class="author-header-item" href="{{ author.website }}" target="_blank" rel="noopener noreferrer">Website</a>
                {% endif %}
            </div>
        {% endif %}
    </div>
    {% if author.profile_image %}
        <div class="author-header-image">
            <img src="{{ author.profile_image }}" alt="{{ author.name }}">
        </div>
    {% endif %}
</header>
