<footer class="site-footer outer">
    <div class="site-footer-content inner">
        <section class="copyright"><a href="{{ site.url }}">{{ site.title }}</a> &copy; 2020</section>
        <nav class="site-footer-nav">
            <a href="{{ site.url }}">Latest Posts</a>
            {% if site.facebook %}<a href="https://www.facebook.com/{{ site.facebook}}" target="_blank" rel="noopener">Facebook</a>{% endif %}
            {% if site.twitter %}<a href="https://twitter.com/{{ site.twitter }}" target="_blank" rel="noopener">Twitter</a>{% endif %}
            <a href="https://ghost.org" target="_blank" rel="noopener">Ghost</a>
        </nav>
    </div>
</footer>
