<footer class="footer">
  <div class="footer__container container">
    <span class="footer__colophon">&copy; {{ site.title }} 2019</span>

    <nav class="footer__navigation">
      <a class="button  button--icon" href="/">
        Latest posts
      </a>
      {% if site.facebook %}
        <a class="button  button--icon" href="https://facebook.com/{{ site.facebook }}">
          Facebook
        </a>
      {% endif %}
      {% if site.twitter %}
        <a class="button  button--icon" href="https://twitter.com/{{ site.twitter }}">
          Twitter
        </a>
      {% endif %}
      <a class="button  button--icon" href="/feed.xml">
        Feed
      </a>
    </nav>
  </div>
</footer>
