{% set author -%}
    {% if post.primary_author %}
        {{ post.primary_author.name }}
    {% elseif doc.primary_author %}
        {{ doc.primary_author.name }}
    {% else %}
        {{ authors[0].name }}
    {% endif %}
{%- endset %}

<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="generator" content="Eleventy">

{% if site.icon %}
    <link rel="shortcut icon" type="image/png" href="{{ site.icon }}"/>
{% endif %}

<meta name="theme-color" content="#15171A">
<link rel="alternate" type="application/rss+xml" href="/feed.xml">

<link rel="sitemap" type="application/xml" href="/sitemap.xml">
<title>{{ title + " – " + site.title if title else site.title }}</title>


<meta property="og:site_name" content="{{ site.title }}">
<meta name="twitter:site" content="https://twitter.com/{{ site.twitter | replace("@", "") }}/">
<meta name="twitter:creator" content="{{ site.twitter }}">
<meta name="twitter:card" content="summary_large_image">

<meta name="description" content="{{ site.description }}">
<meta property="og:type" content="article">
<meta property="og:title" content="{{ title + " – " + site.title if title else site.title }}">
<meta property="og:description" content="{{ site.description }}">


<meta property="article:published_time" content="2019-01-09T15:08:14.000+00:00">
<meta property="article:modified_time" content="2019-01-09T17:43:09.000+00:00">
<meta property="article:author" content="https://www.facebook.com/{{ site.facebook }}/">
<meta name="twitter:title" content="{{ title + " – " + site.title if title else site.title }}">
<meta name="twitter:description" content="Build an API driven static-site with Gatsby.js and use Ghost as a completely decoupled headless CMS.  Read more about how it works and how to use this starter theme here!">
<meta name="twitter:label1" content="Written by">
<meta name="twitter:data1" content="{{ author }}">
<meta name="twitter:image" content="https://gatsby.ghost.io/content/images/2019/01/ghost-headless-feature-image.png">
<meta property="og:image" content="https://gatsby.ghost.io/content/images/2019/01/ghost-headless-feature-image.png">

<link rel="canonical" href="{{ site.url + page.url }}">
<meta property="og:url" content="{{ site.url + page.url }}">
<meta name="twitter:url" content="{{ site.url + page.url }}">

{# - title
- description
- publish time
- modified time
- author
- author twitter
- image #}



{# <script>
    {
        "@context": "https://schema.org/",

        {% if title %}

            "@type": "Article",
            "author": {
                "@type": "Person",
                "name": "{{ author }}",
                "image": "https://static.ghost.org/v2.0.0/images/ghost.png",
                "sameAs": [
                    "https://ghost.org",
                    "https://twitter.com/{{ site.twitter }}/",
                    "https://www.facebook.com/{{ site.facebook }}/"
                ]
            },

            "headline": "{{ title + " – " + site.title if title else site.title }}",
            "url": "{{ site.url + page.url }}",
            "datePublished": "2019-01-09T15:08:14.000+00:00",
            "dateModified": "2019-01-09T17:43:09.000+00:00",

        {% else %}
            "@type":"WebSite",
            "url":"{{ site.url }}",
            "image":{
              "@type":"ImageObject",
              "url":"{{ site.cover_image }}"
            },
            "publisher":{
              "@type":"Organization",
              "name":"{{ site.title }}",
              "logo":{
                 "@type":"ImageObject",
                 "url":"{{ site.logo }}"
              }
            },
            "mainEntityOfPage":{
              "@type":"WebPage",
              "@id":"{{ site.url }}"
            },
            "description":"{{ site.description }}"
            }
        {% endif %}

        "publisher": {
            "@type": "Organization",
            "name": "{{ site.title }}",
            "logo": {
                "@type": "ImageObject",
                "url": "{{ site.logo }}"
            }
        },
        "description": "{{ site.description }}",
        "mainEntityOfPage": {
            "@type": "WebPage",
            "@id": "{{ site.url }}"
        }
    }
</script> #}
