{% set posts_quantity = author.posts | length %}

<header class="site-archive-header">
    <div class="outer site-nav-main">
        <div class="inner">
            {% include 'partials/navigation.njk' %}
        </div>
    </div>
    <div class="outer site-header-background no-image">
        <div class="inner">
            <div class="site-header-content author-header">
                {% if author.profile_image %}
                    <img class="author-profile-image" src="{{ author.profile_image }}" alt="{{ author.name }}" />
                {% else %}
                    <span class="author-profile-image">{% include "partials/icons/avatar" %}</span>
                {% endif %}
                <div class="author-header-content">
                    <h1 class="site-title">{{ author.name }}</h1>
                    {% if bio %}
                        <h2 class="author-bio">{{ author.bio }}</h2>
                    {% endif %}
                    <div class="author-meta">
                        {% if author.location %}
                            <div class="author-location">{{ author.location }}</div>
                        {% endif %}
                        <div class="author-stats">
                            {% if posts_quantity %}
                                {{ posts_quantity }} {{ "Posts" if posts_quantity > 1 else "Post" }}
                            {% else %}
                                No posts
                            {% endif %}
                        </div>
                        {% if author.website %}
                            <span class="author-social-link"><a href="{{ author.website }}" target="_blank" rel="noopener">Website</a></span>
                        {% endif %}
                        {% if author.twitter %}
                            <span class="author-social-link"><a href="https://twitter.com/{{ author.twitter | replace("@", "") }}" target="_blank" rel="noopener">Twitter</a></span>
                        {% endif %}
                        {% if author.facebook %}
                            <span class="author-social-link"><a href="https://facebook.com/{{ author.facebook }}" target="_blank" rel="noopener">Facebook</a></span>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
