{% macro icon(props) %}
<svg
    width="{{ props.width if props.width else "16" }}"
    height="{{ props.height if props.height else "16" }}"
    class="site-nav-icon  site-nav-icon--{{ props.id if props.id else "link" }}"
    role="img"
    aria-labelledby="{{ props.id if props.id else "link" }}-title"
>
    <title id="{{ props.id if props.id else "link" }}-title">{{ props.id if props.id else "link" }}</title>
    <use
        xlink:href="#{{ props.id if props.id else "link" }}"
        fill="{{ color if color else "currentColor" }}"
    ></use>
</svg>
{% endmacro %}
