<nav class="navigation">
  {% if site.navigation %}
    <ul class="navigation__list">
      {% for item in site.navigation %}
        <li class="navigation-item{{ "  navigation-item--active" if item.url == page.url }}">
          <a href="{{ item.url }}">{{ item.label }}</a>
        </li>
      {% endfor %}
    </ul>
  {% endif %}

  {% if collections.docs %}
    <ul class="navigation__list">
      {% for doc in collections.docs %}
        <li class="navigation-item{{ "  navigation-item--active" if doc.url == page.url }}">
          <a class="button" href="{{ doc.url }}">
            {{ doc.title }}
            {% if doc.featured %}
              <span class="navigation-item__feature-label">Featured</span>
            {% endif %}
          </a>
        </li>
      {% endfor %}
    </ul>
  {% endif %}
</nav>
