{% from "partials/icon.njk" import icon %}

<nav class="site-nav">
    {% if site.navigation %}
        <div class="site-nav-left-wrapper">
            <div class="site-nav-left">
                {% if site.logo %}
                    <a class="site-nav-logo" href="{{ site.url }}"><img src="{{ site.logo }}" alt="{{ site.title }}"></a>
                {% else %}
                    <a class="site-nav-logo" href="{{ site.url }}">{{ site.title }}</a>
                {% endif %}
                <div class="site-nav-content">
                    <ul class="nav" role="menu">
                        {% for item in site.navigation %}
                            <li class="nav-item" role="menuitem">
                                <a href="{{ item.url }}">
                                    {{ item.label }}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    {% endif %}
    <div class="site-nav-right">
        {% if site.secondary_navigation | length %}
            <ul class="nav" role="menu">
                {% for nav_item in site.secondary_navigation %}
                    <li class="nav-item" role="menuitem">
                        <a href="{{ nav_item.url }}">
                            {{ nav_item.label }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <div class="social-links">
                {% if site.facebook %}
                    <a class="social-link social-link-fb" href="https://www.facebook.com/{{ site.facebook }}" title="Facebook" target="_blank" rel="noopener">{% include "partials/icons/facebook.njk" %}</a>
                {% endif %}
                {% if site.twitter %}
                    <a class="social-link social-link-tw" href="https://twitter.com/{{ site.twitter }}" title="Twitter" target="_blank" rel="noopener">{% include "partials/icons/twitter.njk" %}</a>
                {% endif %}
            </div>
        {% endif %}
    </div>
</nav>
