{# jQuery, required for fitvids #}
<script
    src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
    crossorigin="anonymous">
</script>
{# Fitvids (for responsive video embeds), infinite scroll, floating header, and gallery card support #}
<script src="{{ site.url }}/assets/built/casper.js"></script>
