{% from "partials/icon.njk" import icon %}

{% macro header(props) %}
  <header class="header  header--secondary"{% if props.feature_image %} style="background-image: url('{{ props.feature_image }}')"{% endif %}>
    <div class="header__content">
      <h1>{{ props.title }}</h1>
      {{ props.description }}

      {% if props.facebook and props.twitter %}
        <nav class="header__social-navigation">
          {% if props.facebook %}
            <a class="button  button--icon" href="https://facebook.com/{{ props.facebook }}">
              {{ icon({ id: 'facebook' }) }}
            </a>
          {% endif %}
          {% if props.twitter %}
            <a class="button  button--icon" href="https://twitter.com/{{ props.twitter }}">
              {{ icon({ id: 'twitter' }) }}
            </a>
          {% endif %}
        </nav>
      {% endif %}
    </div>

    {% if props.avatar %}
      <img class="header__avatar" src="{{ props.avatar }}" alt="{{ props.name }}">
    {% endif %}
  </header>
{% endmacro %}
